.navbar .navbar-nav .nav-link {
  color: #3bb0a0;
  font-size: 1.1em;
  margin-left: 2em;
  margin-right: 2em;
}
.navbar .navbar-nav .nav-link:hover{
  color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
  padding: .5em 1em;
}

.Nav-logo{
  width: 100px;
}

.navbar{
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: transparent;
}