html {
  scroll-behavior: smooth;
}
.header .menuA {
  padding-top: 3%;
  padding-left: 4%;
  width: 100%;
  display: flex;
  overflow: hidden;
  transition: 1s;
}

.imgnone {
  display: none;
}

.headimg {
  margin-left: 11.5%;
}
.headimg img {
  width: 35%;
  /* z-index: 999; */
  margin-top: -10%;
}

.header .menuA .nav-left #navid {
  text-decoration: none;
  padding-left: 100px;
  font-weight: 600px;
}
.header .menuA .nav-right #navid {
  text-decoration: none;
  padding-right: 100px;
  font-weight: 600px;
}

.nav-sub {
  margin-top: 20%;
}

.header .menuA .nav-left {
  float: left;
}

.header .menuA .nav-right {
  flex: 1;
  text-align: right;
}
