.global {
  padding-top: 5%;
  padding-bottom: 5%;
}
.global-heading {
  text-align: center;
}

.global-heading p {
  color: #70757b;
  font-size: 20px;
}

.global-content {
  padding-top: 10%;
}

.global-content p {
  padding-top: 10%;
  color: #70757b;
}

.backgroundCountry {
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

.global-content .contentFirst {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 20%;
}
.global-content .contentFirst div {
  padding-right: 20%;
  padding-top: 10%;
}

.global-content .contentFirst div div {
  display: flex;
}
.global-content .contentFirst div div img {
  max-width: 40px;
  padding-right: 10px;
}

.global-content .contentSecond {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 10%;
  display: flex;
}

.global-content .contentSecond div {
  padding-right: 10%;
}

.global-content .contentSecond div div img {
  max-width: 40px;
}

.global-content .contentSecond div div {
  display: flex;
}
